export("setModelNames<-")
export("setOutcomeCalibration<-")
export("setOutcomeTest<-")
export("setPredCalibration<-")
export("setPredTest<-")
export(calibrateEnsemble)
export(compareModels)
export(fitEnsemble)
export(getModelNames)
export(getOutcomeCalibration)
export(getOutcomeTest)
export(getPredCalibration)
export(getPredTest)
export(makeForecastData)
exportClasses(CompareModels)
exportClasses(FDatFitLogit)
exportClasses(FDatFitNormal)
exportClasses(ForecastData)
exportClasses(ForecastDataLogit)
exportClasses(ForecastDataNormal)
exportClasses(SummaryForecastData)
exportMethods(calibrateEnsemble)
exportMethods(compareModels)
exportMethods(fitEnsemble)
exportMethods(getModelNames)
exportMethods(getOutcomeCalibration)
exportMethods(getOutcomeTest)
exportMethods(getPredCalibration)
exportMethods(getPredTest)
exportMethods(initialize)
exportMethods(makeForecastData)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
exportMethods(summary)
