exportClasses(CompareModels)
exportClasses(Ensemble)
exportClasses(FDatFitLogit)
exportClasses(ForecastData)
exportClasses(ForecastDataLogit)
exportClasses(ForecastDataNormal)
exportClasses(SummaryForecastData)
exportMethods(calibrateEnsemble)
exportMethods(compareModels)
exportMethods(fitEnsemble)
exportMethods(initialize)
exportMethods(makeForecastData)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
exportMethods(summary)
import("for")
import(Hmisc)
import(Method)
import(logit)
importFrom(Hmisc,somers2)
importMethodsFrom(Hmisc,somers2)
