exportClasses(Ensemble)
exportClasses(ForecastData)
exportClasses(ForecastDataLogit)
exportClasses(ForecastDataNormal)
exportMethods(calibrateEnsemble)
exportMethods(fitEnsemble)
exportMethods(initialize)
exportMethods(makeForecastData)
